@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);

html, body {
  margin:0px;
  padding:0px;
  height:100%;
}

body {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin:0px;
  padding:0px;
  -webkit-font-smoothing: antialiased;
  text-align:center;
  background-color:#000;
  background-image: url('../../images/bg.jpg');
  background-size:flex;
  background-position:50% 0%;
}

body:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
}

.social-icons a, .social-icons a:visited {
  color:#fff;
  margin:10px;
}

h1, h2 {
  font-weight: 200;
}

h1 {
  font-size: 72px;
  margin:0px;
}

h2 {
  font-size: 32px;
  margin-bottom:50px;
}

div {
  margin-bottom:50px;
}

a.btn {
  padding:12px 15px;
  margin:10px;
  border:#fff 1px solid;
  text-decoration: none;
  color:#fff;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

a.btn:hover {
  border:#fff 2px solid;
  color:#000;
  background-color:#fff;
  outline:#fff 5px solid;
}

p {
  margin-top:30px;
  text-decoration: none;
  color:#fff;
  font-size:14px;
}

@media(max-width:450px) {
  a.btn {
    display:block;
  }
}